
.main-wrap {
     width: 100%;
     max-height: 88vh;
	 display: flex;
	 padding: 20px;
     flex-wrap: wrap;
     overflow: auto; 
     box-sizing: border-box;
	 justify-content: center;
}
 .main-wrap .card {
	 width: 250px;
	 height: 140px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 border-radius: 10px;
	 margin: 10px 20px;
	 background: #062F4F;
}

.info {
    font-family: "font-family: 'PT Sans', sans-serif;";
    text-align: center;
}

.bal {
    align-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
}

